<html>

<head>
    <title>Questionnaire</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Style sheet (CSS) and JavaScript scripts necessary to use Bootstrap -->
    <link rel="stylesheet" type="text/css" href="assets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
</head>

<body class="bg-info">

    <div class="container-md p-3 my-3 border bg-light" id="survey">
        <h1>Survey</h1>
        <form>
            <div class="container bg-light question ">
                <h2> What fruit do you like? </h2>
                I like:<br>
                <input type="text " name="fruit" placeholder="fruit name... " required />
            </div>
            <div class="container bg-light question ">
                <h2> What color(s) do you like? </h2>
                I like:<br>
                <input type="checkbox" name="color" value="Red">Red<br>
                <input type="checkbox" name="color" value="Green">Green<br>
                <input type="checkbox" name="color" value="Blue">Blue<br>
            </div>
            <div class="container bg-light question ">
                <h2>What is your favorite animal?</h2>
                I like:<br>
                <select name="animal">
          <option value="Cat" selected>Cat</option>
          <option value="Dog">Dog</option>
          <option value="Turtle">Turtle</option>
        </select>
            </div>
            <div class="container bg-light question ">
                <h2> What is your favourite movie genre? </h2>
                I like:<br>
                <select name="movie">
          <option value="Horror">Horror<br>
          <option value="Drama">Drama<br>
          <option value="Comedy">Comedy<br>
          <option value="Romance">Romance<br>
        </select>
            </div>
            <div class="container bg-light question ">
                <h2> What soda(s) do you like? </h2>
                I like:<br>
                <input type="checkbox" name="soda" value="Coke"> Coke<br>
                <input type="checkbox" name="soda" value="Pepsi"> Pepsi<br>
                <input type="checkbox" name="soda" value="Root Beer"> Root Beer<br>
                <input type="checkbox" name="soda" value="Sprite"> Sprite<br>
                <input type="checkbox" name="soda" value="Grape Soda"> Grape Soda<br>
            </div>
            <div class="container bg-light question ">
                <h2> What sport do you like? </h2>
                I like:<br>
                <input type="text" name="sport" placeholder="sport name... " required />
            </div>
            <div class="d-flex justify-content-center ">
                <button type="submit" class="btn btn-info " id="bb ">Submit</button>

            </div>
            <p id="thanks "></p>
        </form>
    </div>
    <script src="assets/action.js "></script>
</body>

</html>